* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
}
.navbar {
  background-color: #2c0e3a;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dfskjlkjl {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.logo {
  height: 30px;
  width: 100px;
  margin-top: 10px;
}
.btn {
  background-color: transparent;
  border-style: none;
}
.click-img {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 10px;
}
.timer {
  height: 20px;
  width: 20px;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 5px;
}
.score-time-bg {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: white;
}

.score {
  margin-right: 10px;
  height: 10px;
}

.display-img-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}
.display-img {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  background-size: cover;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
}
.djk {
  color: white;
}
.dfskjlladsk {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-list {
  list-style: none;
}

.tab-item {
  margin-right: 50px;
  background-color: transparent;
  border-style: none;
  color: white;
  font-weight: bold;
}

.active-tab {
  color: #fec653;
  text-decoration: underline;
}
.score {
  color: #fec653;
  margin-right: 3px;
}
.result-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jadfskl {
  margin-right: 30px;
}
.bbb {
  background-color: #2c0e3a;
  background-size: cover;
  height: 300px;
  width: 200px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px;
  text-align: center;
}

li {
  list-style: none;
}
.trophy-img {
  height: 150px;
  width: 200px;
  text-align: center;
  margin-right: 30px;
}

.button-reset {
  background-color: #cf60c8;
  border-style: none;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}
.kdksjlf {
  text-align: center;
  margin-left: 20px;
}

.reset-img {
  height: 20px;
  width: 20px;
  color: white;
  margin-right: 5px;
}
